/**
 Name: Vaishakhi Patel, vpatel@cs.uml.edu
 Computer Science Department, UMass Lowell
 Comp.4610, GUI Programming I
 File:
 Created: 21-Nov-2017
 Last updated by VP: 02-Dec-2017 20:00
 **/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: brown;
    border-radius: 0.5pc;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: darksalmon;
    border-radius: 0.5pc;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    border: white !important;
    background: white !important;
}

.active {
    background-color: coral;
}

.input-box {
   height: 25px !important;
}

.delete-tab-btn{
    display: none;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    border-radius: initial;
    padding: 0px;
}

.delete-all-tab-btn{
    float: right;
    height: 40px;
    border-radius: 18.5px;
    display: block;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    background-color: chocolate;
}

.delete-con-all-tab-btn{
    float: right;
    height: 40px;
    margin-left: 10px;
    border-radius: 18.5px;
    display: none;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    background-color: red;
}

.delete-tab-cb{
    display: none;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    border-radius: initial;
    padding: 0px;
}

.price-error{
    display: none;
    color: red;
}
